body{
    background-image: linear-gradient(to right top, #d06bd1, #e86db8, #f376a2, #f68391, #f29387, #f29694, #ef9aa1, #ec9eac, #d9a1c9, #b7aadd, #90b2e0, #73b8d4);;
}
*{
	margin: 1;
	padding: 1;
}
